<nav class="bottom-navbar">
  <%= link_to dashboard_path, class: "bottom-nav-item #{current_page?(dashboard_path) ? 'active' : ''}" do %>
    <i class="fa-solid fa-chart-line"></i>
    <span>Mon évolution</span>
  <% end %>

  <%= link_to chats_path, class: "bottom-nav-item #{current_page?(chats_path) ? 'active' : ''}" do %>
    <i class="fa-solid fa-comments"></i>
    <span>Nos échanges</span>
  <% end %>

  <%= link_to new_chat_path, class: "bottom-nav-item bottom-nav-center" do %>
    <i class="fa-solid fa-plus"></i>
  <% end %>

  <%= link_to analyses_path, class: "bottom-nav-item #{current_page?(analyses_path) ? 'active' : ''}" do %>
    <i class="fa-solid fa-brain"></i>
    <span>Analyse</span>
  <% end %>

  <%= link_to edit_user_registration_path, class: "bottom-nav-item #{current_page?(edit_user_registration_path) ? 'active' : ''}" do %>
    <i class="fa-solid fa-user"></i>
    <span>Profil</span>
  <% end %>
</nav>
